/* =============== */
/* BASIC SETUP */
/* =============== */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html{
	font-size:62.5%;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/*======================*/
  /*Reusable Component*/
/*======================*/
.row{
	width:100%;
}

ul li{
	list-style-type:none;
	font-size:1.6rem;
}

a{
	text-decoration:none;
	color:#fff;
}

h1{
	text-align:centre;
	display:block;
}

/*============================*/
	/*Header Section Start*/
/*============================*/
header{
	height:auto;
	width:100%;	
	position:relative;
}

.nav-bar{
	width:99.9%;
	margin:auto;
	text-align:center;
	background:#0e0f0f;	
}

.nav-bar ul li{
	display:inline-block;
	margin-left:2rem;
	margin-top:.8rem;
	padding-bottom:.5rem;
}

.nav-bar ul li a:link,.nav-bar ul li a:link{
	font-size:2rem;
	font-weight:600;
	padding:.4rem 1.2rem;
	padding-bottom:.2rem;
}

.nav-bar ul li a:hover{
	color:#0e0f0f;
	font-size:2rem;
	padding:rem 1.2rem;
	background:#edebeb;
	font-weight:600;
}

.banner-section{
	background:linear-gradient(rgba(60,84,153,0.5),rgba(60,84,153,0.5)), url("https://scontent.fjsr1-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/96825751_240701943908771_7519715040614678528_n.jpg?_nc_cat=111&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_eui2=AeEgIz-INlW43yUZTiEDoGbiKEKtcCcTLgwoQq1wJxMuDFR9e-zavWRyaekrLdz2VaCEJmcYdRg_ZxEJIs-cytrT&_nc_ohc=y6HADicUjiIAX8DbKCZ&_nc_ht=scontent.fjsr1-1.fna&_nc_tp=14&oh=81586e33dfdc3f0ac058041abf901fd3&oe=5EE170AA");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:centre bottom;
}

.banner-section{
	height:32vh;
	width:100%;
	text-align:center;
	
}

.banner-section button{
	font-size:2.5rem;
	font-weight:700;
	background:rgba(255,255,255,0);
	border:.1rem solid #f9f9f9;
	margin-top:15vh;
	margin-left:2.5rem;
	padding:1rem 2.5rem;
	border-radius:3rem;
	text-transform:uppercase;
	color:#fff;
}

.banner-section button:hover{
	background:#00004d;
	border:.1rem solid #0000b3;
	transition-duration:2.5s;
}

/*==========================*/
	/*Header Section End*/
/*==========================*/

/*============================*/
	/*About Section Start*/
/*============================*/

.about-section{
	height:auto;
	background:#E7F2F8;
	overflow:hidden;
	text-align:center;
	padding-bottom:4rem;
}

.about-section h1{
	text-transform:uppercase;
	margin-top:4rem;
	margin-bottom:2.5rem;
	font-size:2.3rem;
	font-weight:600;
}

.about-section h1::after{
	content:"";
	display:block;
	height:.2rem;
	background:#B7BAAE;
	width:8%;
	margin:auto;
	margin-left:46%;
	margin-top:.5rem;
}



.image-about img{
	width:60%;
	height:auto;
}


.about-section h2{
	font-size:200%;
	padding-top:1.5rem;
	padding-bottom:1rem;
	font-weight:600;
}

.about-section p{
	padding:0 8rem;
	text-align:justify;
	font-size:1.3rem;
	line-height:120%;
}

/*=========================*/
	/*About Section End*/
/*=========================*/
/*===========================*/
	/*Service Section End*/
/*===========================*/

.service-section{
	background:linear-gradient(rgba(255,221,153,0.9),rgba(255,221,153,0.9)), url("https://scontent.fdac3-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/95913391_236968764282089_3605873044993605632_o.jpg?_nc_cat=105&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_eui2=AeEFC1U1XgQQYUHr6_rdF0xPSUZSbKp2Z_JJRlJsqnZn8lG3TrvMmb3IeSvYdw7yLCIJaiSGK28vUBD21RGPLp3u&_nc_ohc=cXGhjqGEDJoAX8hc02u&_nc_ht=scontent.fdac3-1.fna&_nc_tp=14&oh=cb30385abffb5463e1d2e50c1ff96257&oe=5ED86EDD");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	overflow:hidden;
	height:auto;
	text-align:center;
	padding:6rem 2rem;
	padding-top:2.5rem;
	
}

.service-section h1{
	font-size:2rem;
	margin-top:3rem;
	margin-bottom:2rem;
	text-transform:uppercase;
}

.service-section h1::after{
	content:"";
	display:block;
	height:.2rem;
	background:#737a85;
	width:10%;
	margin:auto;
	margin-left:45%;
	margin-top:.5rem;
}

.services-box i{
	color:#472772;
	font-size:2.5rem;
	padding-top:1rem;
}

.services-box{
	padding:0 2rem;
	padding-bottom:1.5rem;
	border:.1rem solid white;
	border-sizing:border-box;
}

.services-box h2{
	font-weight:600;
	font-size:1.7rem;
	padding:.4rem 0;
	
}

.services-box p{
	text-align:justify;
	line-height:130%;
	font-size:1.2rem;
}

/*===========================*/
	/*Service Section End*/
/*===========================*/

/*=============================*/
	/*Contact Section Start*/
/*=============================*/

.contact-section{
	background-color:#273A71;
	overflow:hidden;
	height:auto;
	text-align:center;
	padding:0 5rem;
}

.contact-section h1{
	font-weight:600;
	color:#f9f9f9;
}

.contact-section h1::after{
	content:"";
	display:block;
	height:.2rem;
	background:#B0B0B0;
	width:5%;
	margin:auto;
	margin-left:47.5%;
	margin-top:.5rem;
}

.contact-section i{
	font-size:4rem;
	color:#212529;
	padding:0;
	margin:0;
}

.contact-section i a{
	color:#212529;
}

.contact-section span{
	padding:0;
	margin:0;
}

.conact-box{
	background:#fff;
	height:auto;
	padding:1.5rem 0;
	box-shadow:0rem 0rem 0.3rem black;
	margin-bottom:4rem;
	margin-top:2rem;
}

.contact-icon{
	display:inline-block;
	float:left;
	margin-left:10%;
	background:#fff;
}

.contact-text{
	float:left;
	font-size:1.6rem;
	margin-top:.2rem;
	margin-left:1rem;
}

.contact-text p{
	font-weight:600;
}

.contact-form{
	width:80%;
	height:auto;
	margin:auto;
	margin-bottom:5rem;
}


input[type="text"],input[type="email"],textarea,input[type="submit"]{
	background:rgba(60,84,153,1);
	border:.1rem solid #273a71;
	width:80%;
	border-radius:0.5rem;
	font-size:2rem;
	margin-top:.5rem;
	padding:1.1rem 0;
	padding-left:1rem;
}

input[type="text"],input[type="email"],textarea{
	color:#fff;
}

input[type="submit"]{
	margin-top:1rem;
	padding:1rem 0;
	width:50%;
	background:#30BAE7;
	color:#fff;
}

/*===========================*/
	/*Contact Section End*/
/*===========================*/

/*=============================*/
	/*Footer Section Start*/
/*=============================*/

footer{
	height:auto;
	background:#E9ECEF;
	padding:.8rem 0;
	text-align:centre;
}

footer ul{
	display:block;
	text-align:center;
}

footer ul li{
	display:inline-block;
	margin-left:1rem;
}

footer ul li a{
	color:#4E555C;
}

/*===========================*/
	/*Footer Section End*/
/*===========================*/