*{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.row{
	width:100%;
}

ul li{
	display:inline-block;
	margin-left:15px;
}

a{
	color:#878A8F;
	font-size:29px;
	font-weight:600;
	text-decoration:none;
	font-style:oblique;
}

/* Header area */

.row .banner-img{
	width:100%;
	height:auto;
	padding:0 1px;
}

.language{
	text-align:center;
}

.ul-lang ul li{
	margin-top:10px;
}

/* Login Form */

.Login-form{
	width:100%;
	height:auto;
}