@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

		/* font property 
		
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
_________________________________________ */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}




a{
	color:#121212;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
}

a:hover {
	font-weight:700;
	color:#121212;
	font-size:115%;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

nav{
	background:#e8f9fd!important
}

nav ul li a, nav ul li{}{
	color:#121212;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
}

.carousel-item{
	
}

.banner{
	position:relative;
	content:'';
	display:block;
	clear:both;
	background:;
}


@media (max-width: 480px){
	
}